<h1>This is the homepage</h1>

<div class="all-blogs">
    {{#each blogs}}
    <div class="blog-card" data-blog-id="{{id}}">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <p>Posted by: {{user.username}}</p>
        <p>{{date_created}}</p>
    </div>
    {{/each}}
</div>
